<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/head :: head (title='title.admin.type.create')}"></head>
<body>
  <div th:replace="~{fragments/navigation-bar :: admin}"></div>
  <div class="container is-max-desktop mt-5">
    <h2 class="title is-4" th:text="#{admin.types.creation.header}">Class Type Creation</h2>
    <form th:action="@{create}" th:object="${type}" th:method="post">
      
      <div class="field">
        <label class="label" for="name" th:text="#{admin.types.name}">Class Type name:</label>
        <div class="control">
          <input class="input" type="text" th:field="*{name}" />
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <input class="button is-primary" type="submit" value="Create" th:value="#{admin.types.create}" />
        </div>
      </div>
    </form>
  </div>
</body>
</html>
